.header{
    background: #000;
}

.header__inner{
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
}

.header__logo{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
